page {
	font-size: 28rpx;
	font-family: 'PingFang SC';
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
	box-sizing: border-box;
	outline: none;
}

.uni-page-head {
	font-family: $uni-font-family;
}
.uni-page-head-btn {
	line-height: 1;
}